body {
  display : flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  height: 100%;
  overflow-y: scroll;
  background:linear-gradient(#39BAE8,#EAFFD0);
  background-size: 100% 1886px;
  margin : 0px;
}
section{
  max-width: 830px;
}
img{
  width : 20%;
  margin : 10px;
}
header{
  background-image:url(/home/dini/Documents/public_html/projet_python/Site_web/image/drop_water.jpg);
  background-repeat:no-repeat;
  background-position: 70% 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}
div#header{
  display : flex;
  justify-content: center;
  width: 800px;
  height: inherit;
}
section#titre {
  margin: 20px;
}
section#titre > h1 {
  font-size : 30px;
}
section#titre > h2 {
  text-decoration: none;
}
section#menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: none;
  text-align: center;
/*  border-bottom: black 3px solid;
  border-top: black 3px solid;*/
  background-color: #2d2d2d;
}

ul#bouton{
  list-style: none;
  display : flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right : 15px
}
ul#bouton > li{
  /*top left bottom right*/
  padding : 5px 10px 5px 10px;
/*  background-color : #EAFFD0;
  border-left : solid 2px;
  border-right: solid 2px;*/
  margin : 5px 15px 5px 15px;
}
section#home, section#research, section#bio, section#people, section#publi, section#contact{
  max-width: 800px;
  text-align : justify;
}
.hide{
	height: 0px;
  width: 0px;
	display:none;
}
div#flexr{
  display : flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
div#flexr > span{
  width : 30%;
}
span > a > img{
  width : 100%;
  padding : 10px 2px 0px 2px;
  border-top : black solid 3px;
}
h4{
  margin : 10px 0px 0px 0px;
  justify-content: flex-start;
}
button{
  text-decoration: none;
  color : white;
  border : none;
  padding : 10px;
  background-color : #2d2d2d;
}
button:hover{
  cursor: pointer;
}
h1 {
  font-size : 20px;
}
a{
  color : inherit;
  text-decoration: underline;
  text-align: center;
}
a:hover{
  cursor : pointer;
}
li {
  margin : 10px;
}
div.publication{
  display : flex;
  flex-direction : column;
  max-width: 350px;;
  margin : 10px;
  padding-bottom : 10px;
  border-radius : 10px;
  background-color: #79BEDB;
}
div#flexpubli{
  display:flex;
  flex-wrap : wrap
}
h5{
  margin : 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding : 15px;
  background-color: #1F6ED4;
}
p{
  padding : 5px;
}
img.pdf{
  width : 30px;
  align-self: flex-start;
}
